*.pdf filter=lfs diff=lfs merge=lfs -text
docs/rendered/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/the-roots-you-got-me/*.png filter=lfs diff=lfs merge=lfs -text
docs/30*.pdf filter=lfs diff=lfs merge=lfs -text
docs/20*.pdf filter=lfs diff=lfs merge=lfs -text
docs/rendered/dep-one-of-us-is-the-killer/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/30-dirty-grooves/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/20-chops/*.png filter=lfs diff=lfs merge=lfs -text
docs/transcriptions/Dillinger*.pdf filter=lfs diff=lfs merge=lfs -text
docs/rendered/etid-low-teens/*.png filter=lfs diff=lfs merge=lfs -text
docs/transcriptions/Every*.pdf filter=lfs diff=lfs merge=lfs -text
docs/rendered/jungle-drum-n-bass/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/rod-morgenstein-drum-set-warm-ups/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/120-right-hand-studies-giuliani/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/scale-studies-jazz-guitar-stone/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-axe-to-fall/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-concubine/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-dark-horse/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-drop-out/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-first-light/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-hum-of-hurt/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-to-feel-something/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-under-duress/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-versus/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/converge-worms-will-feed/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/vai-10-hour-workout/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/abr-rescue-and-restore/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/ted-greene-modern-chord-progressions/*.png filter=lfs diff=lfs merge=lfs -text
docs/rendered/modern-rudimental-swing-solos/*.png filter=lfs diff=lfs merge=lfs -text
